@import "variables";

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: $body-color;
}

div.layout {
  height: 100%;
}

div.page {
  border: 2px solid red;
  height: 100%;
}

h2 {
  color: $font-color;
  font-size: 24px;
  font-weight: bold;
}

button {
  padding: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $body-color;
  color: $font-color;
  border: 1px solid $font-color;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: $button-hover-color;
    color: $body-color;
    border: 1px solid $button-hover-color;
  }
}

//
// nawigacja
nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  div {
    box-shadow: none;
  }
  div.image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  div.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }
}

//
// obrazy

img {
  &#font {
    height: 50px;
  }
  &#logo {
    height: 400px;
  }
  &.page {
    height: 100%;
    object-fit: cover;
  }
  &.recipe-image {
    max-height: 100%;
    max-width: 100%;
  }
}

//
// log in, register

div.log-page {
  height: 100%;
  display: flex;
}

div.log-sign {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.log-sign-inner {
  background-color: $font-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 36px;
  border-radius: 16px;
  & h2 {
    color: $body-color;
    margin: 0px 20px 20px 20px;
  }
  & div#no-account {
    padding: 16px;
    height: 64px;
    border-radius: 12px;
    background-color: $item-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    & > p {
      color: $body-color;
    }
  }
  & button#log-in {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  & p.error {
    color: $body-color;
    margin-top: 16px;
  }
  & div.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: none;
    & > input {
      margin: 8px 0;
      width: 100%;
      max-width: 300px;
      padding: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid $body-color;
      border-radius: 16px;
      outline: none;
      transition: 0.3s;
      &:focus {
        border: 1px solid $item-color;
      }
    }
  }
}

//
// strona główna
div.content {
  // border: 2px solid red;
  box-shadow: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

//
// responsywaność
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .page img {
    width: 100%;
    height: 40vh;
  }

  .log-sign {
    width: 100%;
    padding: 20px;
  }

  .inputs input {
    width: 100%;
  }
}

//
// recipes
div.content {
  color: $font-color;
  & > div#recipe-search {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    input {
      width: 60%;
      padding: 8px;
      border-radius: 16px;
      color: $font-color;
      background-color: $body-color;
      border: 1px solid $font-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      outline: none;
      &::placeholder {
        color: $font-color;
      }
      &:focus {
        border: 1px solid $item-color;
      }
    }
  }
  & > div.grid {
    width: 80%;
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    & > div.grid-item {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $item-color;
      padding: 8px 0;
      font-size: 14px;
      text-align: center;
      & > h3 {
        color: $dark-font-color;
        margin-bottom: 8px;
        font-size: 18px;
      }
      & > p {
        color: $dark-font-color;
        font-size: 16px;
        margin: 8px;
        align-self: flex-start;
      }
      & > button {
        margin-bottom: 8px;
      }
    }
    &#user-grid {
      grid-template-columns: repeat(6, 1fr);
      & > div {
        border-radius: 16px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}
