@import "variables";

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: $body-color;
}

div.layout {
  height: 100%;
}

div.page {
  // border: 2px solid red;
  height: 100%;
}

h2 {
  color: $font-color;
  font-size: 24px;
  font-weight: bold;
}

button {
  padding: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: $body-color;
  color: $font-color;
  border: 1px solid $font-color;
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: $button-hover-color;
    color: $body-color;
    border: 1px solid $button-hover-color;
  }
}

//
// nawigacja
nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  div {
    box-shadow: none;
  }
  div.image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  div.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
  }
}

//
// obrazy

img {
  &#font {
    height: 50px;
  }
  &#logo {
    height: 400px;
  }
  &.page {
    height: 100%;
    object-fit: cover;
  }
  &.recipe-image {
    max-height: 100%;
    max-width: 100%;
  }
  &.small {
    width: 100%;
  }
}

//
// log in, register

div.log-page {
  height: 100%;
  display: flex;
}

div.log-sign {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.log-sign-inner {
  background-color: $font-color;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 36px;
  border-radius: 16px;
  & h2 {
    color: $body-color;
    margin: 0px 20px 20px 20px;
  }
  & div#no-account {
    padding: 16px;
    height: 64px;
    border-radius: 12px;
    background-color: $item-color;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    & > p {
      color: $body-color;
    }
  }
  & button#log-in {
    margin-top: 8px;
    margin-bottom: 16px;
  }
  & p.error {
    color: $body-color;
    margin-top: 16px;
  }
  & div.inputs {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-shadow: none;
    & > input {
      margin: 8px 0;
      width: 100%;
      max-width: 300px;
      padding: 12px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      border: 1px solid $body-color;
      border-radius: 16px;
      outline: none;
      transition: 0.3s;
      &:focus {
        border: 1px solid $item-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }
}

//
// strona główna
div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  & > div#last-recipes {
    margin: 8px;
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    column-gap: 16px;
    row-gap: 16px;
  }
}

//
// responsywaność
@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }

  .page img {
    width: 100%;
    height: 40vh;
  }

  .log-sign {
    width: 100%;
    padding: 20px;
  }

  .inputs input {
    width: 100%;
  }
}

//
// recipes
div.content {
  color: $font-color;
  & > div#recipe-search {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    input {
      width: 60%;
      padding: 8px;
      border-radius: 16px;
      color: $font-color;
      background-color: $body-color;
      border: 1px solid $font-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      transition: 0.3s;
      outline: none;
      &::placeholder {
        color: $font-color;
      }
      &:focus {
        border: 1px solid $item-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
    }
  }
  & > div.grid {
    width: 80%;
    margin: 16px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 16px;
    row-gap: 16px;
    & > div.grid-item {
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background-color: $item-color;
      padding: 8px 0;
      font-size: 14px;
      text-align: center;
      & > h3 {
        color: $dark-font-color;
        margin-bottom: 8px;
        font-size: 18px;
      }
      & > p {
        color: $dark-font-color;
        font-size: 16px;
        margin: 8px;
        align-self: flex-start;
      }
      & > button {
        margin-bottom: 8px;
      }
    }
    &#user-grid {
      grid-template-columns: repeat(6, 1fr);
      & > div {
        border-radius: 16px;
        display: grid;
        grid-template-rows: repeat(2, 1fr);
      }
    }
  }
}

//
// add recipe
div#add-recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h3 {
    color: $body-color;
    margin-top: 8px;
  }
  & > form {
    background-color: $item-color;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    margin: 16px;
    &#edit-profile {
      & > input {
        &:nth-child(2) {
          margin: 8px 0;
        }
      }
      & > button {
        margin-top: 8px;
      }
    }
    & input {
      color: $body-color;
      background-color: $item-color;
      outline: none;
      border: 1px solid $font-color;
      padding: 8px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      &#margin {
        margin: 8px 0;
      }
      &:focus {
        border: 1px solid $body-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        color: $font-color;
      }
    }
    & textarea {
      color: $body-color;
      background-color: $item-color;
      outline: none;
      border: 1px solid $font-color;
      padding: 8px;
      margin-top: 12px;
      margin-bottom: 8px;
      border-radius: 8px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      &:focus {
        border: 1px solid $body-color;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
      }
      &::placeholder {
        color: $font-color;
      }
    }
    div#steps {
      margin: 12px 0px;
    }
    div {
      & > input {
        margin-right: 8px;
        margin-top: 8px;
      }
    }
    ul {
      color: $body-color;
      & > li {
        & > input {
          margin-right: 8px;
          margin-top: 8px;
        }
      }
    }
  }
  button#second {
    margin: 8px 0;
  }
}

//
// recipe page
div#recipe-page {
  & > div.content {
    border-top: 1px solid $font-color;
    padding-bottom: 16px;
    display: grid;
    grid-template-areas:
      "title  picture"
      "description  picture"
      "ingredients  picture"
      "steps picture"
      "ratings edit"
      "comments comments"
      "new-rating new-comment"
      "chat notifications"
      "online go-back";
    column-gap: 16px;
    row-gap: 16px;
    & > div#notifications {
      grid-area: notifications;
    }
    & > h2 {
      grid-area: title;
      background-color: $item-color;
      border-radius: 16px;
      padding: 16px 0 16px 32px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    & > img {
      height: 500px;
      grid-area: picture;
    }
    & > p#description {
      grid-area: description;
      background-color: $item-color;
      border-radius: 16px;
      padding: 16px 0 16px 32px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    & > div#ingr {
      grid-area: ingredients;
      background-color: $item-color;
      border-radius: 16px;
      padding: 16px 0 16px 32px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    & > div#steps {
      grid-area: steps;
      background-color: $item-color;
      border-radius: 16px;
      padding: 16px 0 16px 32px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }
    & > div#ratings {
      grid-area: ratings;
    }
    & > div#comments {
      grid-area: comments;
      & > #comment-item {
        padding: 16px;
        background-color: $item-color;
        border-radius: 16px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 10px 0;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        & button {
          margin: 0 16px;
        }
      }
    }
    & > div#new-comment {
      grid-area: new-comment;
      display: flex;
      justify-content: space-around;
      align-items: center;
      & > input {
        color: $font-color;
        margin: 8px 0;
        background-color: $body-color;
        width: 60%;
        max-width: 300px;
        padding: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid $font-color;
        border-radius: 16px;
        outline: none;
        transition: 0.3s;
        &:focus {
          border: 1px solid $item-color;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }
        &::placeholder {
          color: $font-color;
        }
      }
    }
    & > div#new-rating {
      grid-area: new-rating;
      padding: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      & button:hover {
        background-color: $body-color;
      }
    }
    & > h3#users-online {
      grid-area: online;
    }
    & > button#go-back {
      grid-area: go-back;
    }
    & > div#chat {
      grid-area: chat;
      & input {
        color: $font-color;
        margin: 8px 0;
        background-color: $body-color;
        width: 60%;
        max-width: 300px;
        padding: 12px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        border: 1px solid $font-color;
        border-radius: 16px;
        outline: none;
        transition: 0.3s;
        &:focus {
          border: 1px solid $item-color;
          box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        }
        &::placeholder {
          color: $font-color;
        }
      }
    }
    & > div#edit-del {
      grid-area: edit;
      display: flex;
      justify-content: space-around;
      margin-bottom: 16px;
    }
  }
}

//
// user page
div#user-page {
  & > div.content {
    color: $dark-font-color;
    border-radius: 16px;
    padding: 16px;
    & > div#user-info {
      background-color: $item-color;
      padding: 16px;
      border-radius: 16px;
    }
    & h2 {
      color: $dark-font-color;
    }
    & > div#user-recipes {
      text-align: center;
      margin: 8px 0;
      & > div#recipes {
        margin: 8px 0;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 16px;
        row-gap: 16px;
        & > div#recipe-item {
          display: flex;
          flex-direction: column;
          background-color: $item-color;
          & > h4 {
            margin: 8px;
          }
          & > button {
            margin: 8px;
          }
        }
      }
    }
    & button {
      margin: 16px;
    }
  }
}

//
// ładowanie
p.loading {
  color: $font-color;
}

p.error {
  color: $font-color;
}

//
// czat z użytkownikiem
div#chat-page {
  & > input {
    color: $font-color;
    margin: 8px 0;
    background-color: $body-color;
    width: 60%;
    max-width: 300px;
    padding: 12px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border: 1px solid $font-color;
    border-radius: 16px;
    outline: none;
    transition: 0.3s;
    &:focus {
      border: 1px solid $item-color;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    }
    &::placeholder {
      color: $font-color;
    }
  }
}

//
// wiadomości prywatne
div#chat-box {
  width: 30%;
  margin: 0 auto;
  & > div {
    padding: 6px;
    border: 2px solid red;
    margin-top: 8px;
    border: 1px solid $font-color;
    border-radius: 10px;
    &.my-message {
      background-color: $item-color;
      color: $dark-font-color;
      border: 1px solid $dark-font-color;
    }
  }
  & button {
    margin-left: 8px;
  }
}
