@import "variables";

* {
  margin: 0;
  padding: 0;
  font-size: 12px;
}

body {
  height: 100vh;
  background-color: $body-color;
}

button {
  padding: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  &:hover {
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
}

div.page {
  border: 1px solid red;
  height: 100%;
}

nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
  // border-bottom: 1px solid $font-color;
  // box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  div.image {
    width: 30%;
    display: flex;
    justify-content: center;
  }
  div.buttons {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    button {
      background-color: $body-color;
      color: $font-color;
      border: 1px solid $font-color;
      &:hover {
        cursor: pointer;
        background-color: $font-color;
        color: $body-color;
        border: 1px solid $font-color;
      }
    }
  }
}

img#font {
  height: 50px;
}
