* {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background-color: #fcf7ec;
}

div.layout {
  height: 100%;
}

div.page {
  height: 100%;
}

h2 {
  color: #b37f6f;
  font-size: 24px;
  font-weight: bold;
}

button {
  padding: 8px;
  border-radius: 16px;
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fcf7ec;
  color: #b37f6f;
  border: 1px solid #b37f6f;
}
button:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background-color: #c89785;
  color: #fcf7ec;
  border: 1px solid #c89785;
}

nav {
  padding: 16px;
  display: flex;
  justify-content: space-between;
}
nav div {
  box-shadow: none;
}
nav div.image {
  width: 30%;
  display: flex;
  justify-content: center;
}
nav div.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 70%;
}

img#font {
  height: 50px;
}
img#logo {
  height: 400px;
}
img.page {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
img.recipe-image {
  max-height: 100%;
  max-width: 100%;
}
img.small {
  height: 120px;
  width: 120px;
}

div.log-page {
  height: 100%;
  display: flex;
}

div.log-sign {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

div.log-sign-inner {
  background-color: #b37f6f;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 36px;
  border-radius: 16px;
}
div.log-sign-inner h2 {
  color: #fcf7ec;
  margin: 0px 20px 20px 20px;
}
div.log-sign-inner div#no-account {
  padding: 16px;
  height: 64px;
  border-radius: 12px;
  background-color: #e5b29f;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
div.log-sign-inner div#no-account > p {
  color: #fcf7ec;
}
div.log-sign-inner button#log-in {
  margin-top: 8px;
  margin-bottom: 16px;
}
div.log-sign-inner p.error {
  color: #fcf7ec;
  margin-top: 16px;
}
div.log-sign-inner div.inputs {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  box-shadow: none;
}
div.log-sign-inner div.inputs > input {
  margin: 8px 0;
  width: 100%;
  max-width: 300px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #fcf7ec;
  border-radius: 16px;
  outline: none;
  transition: 0.3s;
}
div.log-sign-inner div.inputs > input:focus {
  border: 1px solid #e5b29f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

div.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div.content > div#last-recipes {
  margin: 8px;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}

@media (max-width: 768px) {
  .page {
    flex-direction: column;
  }
  .page img {
    width: 100%;
    height: 40vh;
  }
  .log-sign {
    width: 100%;
    padding: 20px;
  }
  .inputs input {
    width: 100%;
  }
}
div.content {
  color: #b37f6f;
}
div.content > div#recipe-search {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  align-items: center;
}
div.content > div#recipe-search input {
  width: 60%;
  padding: 8px;
  border-radius: 16px;
  color: #b37f6f;
  background-color: #fcf7ec;
  border: 1px solid #b37f6f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  outline: none;
}
div.content > div#recipe-search input::-moz-placeholder {
  color: #b37f6f;
}
div.content > div#recipe-search input::placeholder {
  color: #b37f6f;
}
div.content > div#recipe-search input:focus {
  border: 1px solid #e5b29f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
div.content > div.grid {
  width: 80%;
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
div.content > div.grid > div.grid-item {
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #e5b29f;
  padding: 8px 0;
  font-size: 14px;
  text-align: center;
}
div.content > div.grid > div.grid-item > h3 {
  color: #9a6a5c;
  margin-bottom: 8px;
  font-size: 18px;
}
div.content > div.grid > div.grid-item > p {
  color: #9a6a5c;
  font-size: 16px;
  margin: 8px;
  align-self: flex-start;
}
div.content > div.grid > div.grid-item > button {
  margin-bottom: 8px;
}
div.content > div.grid#user-grid {
  grid-template-columns: repeat(6, 1fr);
}
div.content > div.grid#user-grid > div {
  border-radius: 16px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

div#add-recipe-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div#add-recipe-page > form {
  background-color: #e5b29f;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  padding: 16px;
  margin: 16px;
}
div#add-recipe-page > form input {
  color: #fcf7ec;
  background-color: #e5b29f;
  outline: none;
  border: 1px solid #b37f6f;
  padding: 8px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#add-recipe-page > form input:focus {
  border: 1px solid #fcf7ec;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
div#add-recipe-page > form input::-moz-placeholder {
  color: #b37f6f;
}
div#add-recipe-page > form input::placeholder {
  color: #b37f6f;
}
div#add-recipe-page > form textarea {
  color: #fcf7ec;
  background-color: #e5b29f;
  outline: none;
  border: 1px solid #b37f6f;
  padding: 8px;
  margin: 12px 0;
  border-radius: 8px;
}
div#add-recipe-page > form textarea:focus {
  border: 1px solid #fcf7ec;
}
div#add-recipe-page > form textarea::-moz-placeholder {
  color: #b37f6f;
}
div#add-recipe-page > form textarea::placeholder {
  color: #b37f6f;
}
div#add-recipe-page > form div#steps {
  margin: 12px 0px;
}
div#add-recipe-page > form div > input {
  margin-right: 8px;
}

div#recipe-page > div.content {
  border-top: 1px solid #b37f6f;
  padding-bottom: 16px;
  display: grid;
  grid-template-areas: "title  picture" "description  picture" "ingredients  picture" "steps picture" "ratings picture" "edit picture" "comments comments" "new-rating new-comment" "chat notifications" "online go-back";
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
div#recipe-page > div.content > div#notifications {
  grid-area: notifications;
}
div#recipe-page > div.content > h2 {
  grid-area: title;
  background-color: #e5b29f;
  border-radius: 16px;
  padding: 16px 0 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#recipe-page > div.content > img {
  height: 500px;
  grid-area: picture;
}
div#recipe-page > div.content > p#description {
  grid-area: description;
  background-color: #e5b29f;
  border-radius: 16px;
  padding: 16px 0 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#recipe-page > div.content > div#ingr {
  grid-area: ingredients;
  background-color: #e5b29f;
  border-radius: 16px;
  padding: 16px 0 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#recipe-page > div.content > div#steps {
  grid-area: steps;
  background-color: #e5b29f;
  border-radius: 16px;
  padding: 16px 0 16px 32px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
div#recipe-page > div.content > div#ratings {
  grid-area: ratings;
}
div#recipe-page > div.content > div#comments {
  grid-area: comments;
}
div#recipe-page > div.content > div#comments > #comment-item {
  padding: 16px;
  background-color: #e5b29f;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 10px 0;
}
div#recipe-page > div.content > div#new-comment {
  grid-area: new-comment;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
div#recipe-page > div.content > div#new-comment > input {
  color: #b37f6f;
  margin: 8px 0;
  background-color: #fcf7ec;
  width: 60%;
  max-width: 300px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #b37f6f;
  border-radius: 16px;
  outline: none;
  transition: 0.3s;
}
div#recipe-page > div.content > div#new-comment > input:focus {
  border: 1px solid #e5b29f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
div#recipe-page > div.content > div#new-comment > input::-moz-placeholder {
  color: #b37f6f;
}
div#recipe-page > div.content > div#new-comment > input::placeholder {
  color: #b37f6f;
}
div#recipe-page > div.content > div#new-rating {
  grid-area: new-rating;
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div#recipe-page > div.content > div#new-rating button:hover {
  background-color: #fcf7ec;
}
div#recipe-page > div.content > h3#users-online {
  grid-area: online;
}
div#recipe-page > div.content > button#go-back {
  grid-area: go-back;
}
div#recipe-page > div.content > div#chat {
  grid-area: chat;
}
div#recipe-page > div.content > div#chat input {
  color: #b37f6f;
  margin: 8px 0;
  background-color: #fcf7ec;
  width: 60%;
  max-width: 300px;
  padding: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #b37f6f;
  border-radius: 16px;
  outline: none;
  transition: 0.3s;
}
div#recipe-page > div.content > div#chat input:focus {
  border: 1px solid #e5b29f;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}
div#recipe-page > div.content > div#chat input::-moz-placeholder {
  color: #b37f6f;
}
div#recipe-page > div.content > div#chat input::placeholder {
  color: #b37f6f;
}
div#recipe-page > div.content > div#edit-del {
  grid-area: edit;
  display: flex;
  justify-content: space-around;
  margin-bottom: 16px;
}

div#user-page > div.content {
  color: #9a6a5c;
  border-radius: 16px;
  padding: 16px;
}
div#user-page > div.content > div#user-info {
  background-color: #e5b29f;
  padding: 16px;
  border-radius: 16px;
}
div#user-page > div.content h2 {
  color: #9a6a5c;
}
div#user-page > div.content > div#user-recipes {
  text-align: center;
  margin: 16px 0;
}
div#user-page > div.content > div#user-recipes > div#recipes {
  margin: 8px 0;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  -moz-column-gap: 16px;
       column-gap: 16px;
  row-gap: 16px;
}
div#user-page > div.content > div#user-recipes > div#recipes > div#recipe-item {
  display: flex;
  flex-direction: column;
  background-color: #e5b29f;
}
div#user-page > div.content > div#user-recipes > div#recipes > div#recipe-item > h4 {
  margin: 8px;
}
div#user-page > div.content > div#user-recipes > div#recipes > div#recipe-item > button {
  margin: 8px;
}
div#user-page > div.content button {
  margin: 16px;
}/*# sourceMappingURL=globals.css.map */